# ==========================================
# CẤU HÌNH DATABASE (WEB_DB)
# ==========================================
POSTGRES_USER=your_web_db_user
POSTGRES_PASSWORD=your_web_secure_password
POSTGRES_DB=ppe_db
# Cổng ra bên ngoài máy thật của Database Cloud
DB_HOST_PORT=5433

# ==========================================
# CẤU HÌNH MQTT (WEB_MQTT)
# ==========================================
# Cổng ra bên ngoài máy thật của MQTT Cloud
MQTT_HOST_PORT=1884
MQTT_WS_PORT=9001

# ==========================================
# CẤU HÌNH WEBSERVER (CLOUD_API)
# ==========================================
# Cổng ra bên ngoài máy thật của Cloud API
CLOUD_API_PORT=8000

# Chuỗi kết nối Database (Phải khớp với tài khoản và mật khẩu cấu hình bên trên)
DATABASE_URL=postgresql+asyncpg://your_web_db_user:your_web_secure_password@web_db:5432/ppe_db

# Thông số giao tiếp Broker và Edge
MQTT_BROKER=web_mqtt
MQTT_PORT=1883

# Lưu ý: Nếu Cloud và Edge chạy trên 2 máy vật lý khác nhau, hãy thay 'edge_ai' bằng IP của máy Edge
EDGE_NODE_1_URL=http://edge_ai:8001

# Ép Python in log Webserver ngay lập tức
PYTHONUNBUFFERED=1