# ==========================================
# CẤU HÌNH DATABASE (EDGE_DB)
# ==========================================
POSTGRES_USER=your_edge_db_user
POSTGRES_PASSWORD=your_edge_secure_password
POSTGRES_DB=ppe_db_edge
# Cổng ra bên ngoài máy thật của Database
DB_HOST_PORT=5436

# ==========================================
# CẤU HÌNH MQTT (EDGE_MQTT)
# ==========================================
# Cổng ra bên ngoài máy thật của MQTT
MQTT_HOST_PORT=1885

# ==========================================
# CẤU HÌNH ỨNG DỤNG AI (EDGE_AI)
# ==========================================
# Cổng ra bên ngoài máy thật của Edge AI
EDGE_AI_PORT=8001

# Chuỗi kết nối Database (Phải khớp với tài khoản và mật khẩu cấu hình bên trên)
DATABASE_URL=postgresql+asyncpg://your_edge_db_user:your_edge_secure_password@edge_db:5432/ppe_db_edge

# Thông số giao tiếp Broker và Cloud
MQTT_BROKER=edge_mqtt
MQTT_PORT=1883

# Lưu ý: Nếu Cloud và Edge chạy trên 2 máy vật lý khác nhau, hãy thay 'cloud_api' bằng IP của máy Cloud
EDGE_URL=http://cloud_api:8000

# Ép Python in log ngay lập tức
PYTHONUNBUFFERED=1